# Creating Movies Table and retrieve data based on actor's

### Create database "Mulesoft"

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="prajwalsd",
  password="1230005678"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE Mulesoft")

### Create Table "Movies"

In [35]:
import mysql.connector

mydb = mysql.connector.connect(
      host="localhost",
      user="prajwalsd",
      password="1230005678",
      database="mulesoft"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE Movies (name VARCHAR(150), actor VARCHAR(150), actress VARCHAR(150),director VARCHAR(150),release_year INT)")

### Insert Data into Table

In [42]:
sql = "INSERT INTO Movies (name, actor, actress, director,release_year) VALUES (%s,%s,%s,%s,%s )"
val = [("Love Mocktail", "Darling Krishna", "Milana Nagaraj","Darling Krishna",2020),
       ("Googly", "Yash", "Kriti Karabanda","Pawan Wadeyar",2013),
       ("KGF", "YASH", "Srinidhi Shetty","Prashanth Neel",2018),
       ("Ramachari", "Yash", "Radhika Pandit","Santhosh Ananddram",2014),
       ("Ratchasan", "Vishnu Vishal", "Amala Paul","Ram Kumar",2018),
       ("Kirathaka", "Yash", "Oviya","Pradeep Raj",2011),
       ("Kotigobba2", "Sudeep", "Nithya Menen","K.S.Ravikumar",2016),
       ("Raajakumara", "Puneeth", "Priya","Santhosh Ananddram",2017)
      ]
mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

8 record inserted.

### Print all Rows

In [55]:
mycursor.execute("SELECT * FROM Movies")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Love Mocktail', 'Darling Krishna', 'Milana Nagaraj', 'Darling Krishna', 2020)
('Googly', 'Yash', 'Kriti Karabanda', 'Pawan Wadeyar', 2013)
('KGF', 'YASH', 'Srinidhi Shetty', 'Prashanth Neel', 2018)
('Ramachari', 'Yash', 'Radhika Pandit', 'Santhosh Ananddram', 2014)
('Ratchasan', 'Vishnu Vishal', 'Amala Paul', 'Ram Kumar', 2018)
('Kirathaka', 'Yash', 'Oviya', 'Pradeep Raj', 2011)
('Kotigobba2', 'Sudeep', 'Nithya Menen', 'K.S.Ravikumar', 2016)
('Raajakumara', 'Puneeth', 'Priya', 'Santhosh Ananddram', 2017)

### Print Movie name with actor "Yash"

In [57]:
mycursor.execute("SELECT name FROM Movies where actor = 'Yash'")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Googly',)
('KGF',)
('Ramachari',)
('Kirathaka',)

### Print Movie name with actor "Puneeth"

In [59]:
mycursor.execute("SELECT name FROM Movies where actor = 'Puneeth'")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Raajakumara',)